/* Import Module Crop Image */
@import "~/node_modules/vue-advanced-cropper/dist/style.css";
/* Import Module */
/* In Place Edit */
.job-speed-in-place-editor {
  .job-speed-in-place-labor {
    label {
      margin: 0;
      font-size: 0.85rem;
      padding: 0.125rem 0.25rem 0.125rem 0rem !important;
      font-weight: 600 !important;
    }

    button {
      padding: 0.1rem 0.25rem !important;
    }
  }

  .job-speed-in-place-value-wrapper {
    min-height: 32px !important;

    .job-speed-in-place-value {
      font-size: 1rem !important;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .job-speed-html-text {
      p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
}

.job-speed-in-place-editor.job-speed-required {
  .job-speed-in-place-labor {
    label::after {
      content: "(*)";
      padding-left: 0.25rem;
      color: red;
    }
  }
}

a.cursor-pointer {
  cursor: pointer;
}
#job-speed{
  .modal-box {
    max-height: calc(100vh - 8em) !important;
  }
  .custom-file-input {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  .custom-file-input input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .custom-file-input .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .custom-file-input .btn i {
    margin-right: 8px;
  }
  input, textarea, select {
    font-size: 16px;
  }
}
/* In Place Edit */